

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .card-list {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
  }
}
@media (max-width: 426px) {
  
}

.search-bar {
  width: 100%;
  max-width: 300px; /* Adjust the width as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;
}

.search-bar::placeholder {
  color: #999; /* Placeholder text color */
}

.search-bar:focus {
  border-color: #007bff; /* Border color when focused */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3); /* Box shadow when focused */
}

.utility-container {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}

.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.searchbar{
  width:40%
}


.rbtn {
  border-radius: 5px;
  margin:10px 20px
}

@media (max-width:426px){
  .utility-container {
    display: block;
  }
  .searchbar{
    width:350px
  }
}
